
.App {
  text-align: center;
}

.App-logo {

  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.101s linear;
  }
}

.App-header {
  background-color: purple;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inp{
  color: #61dafb;
  background-color: black;
  width: 400px;
  height: 40px;
}
.h1{
  color: burlywood;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
