body{
  background-color: #023e7d;
}

.App {
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu, .Quiz{
  width: 800px;
  height: 500px;
  border-radius: 50px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button{
  width: 300px;
  height: 50px;
  margin: 5px;
  background-color: #2c7da0;
  color: white;
    border: none;
  border-radius: 50px;
  font-size: 20px;
}

.btn{
  width: 220px;
background-color: #2c7da0;
color: white;
  font-family: cursive;
  font-size: 20px;
  height: 40px;
  border-radius: 30px; 
}
.btn:hover{
  width: 220px;
background-color: #2a6f97;
color: #d9d9d9;
  font-family: cursive;
  font-size: 20px;
  height: 40px;
  border-radius: 30px; 
}
.h1{
position: absolute;
top: 50px;
color: #ffd60a;
font-size: 50px;
}
.buttonend{

color: #ffd60a;
font-size: 50px;
}
.h2{
  color: #023e7d;
}
.btnend2{
  color: #ffd60a;
display: flex;
justify-content: center;
  font-size: 50px;
  
}
.mainend{
  width: 800px;
  height: 500px;
  border-radius: 50px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn22{
  display: flex;
  justify-content: space-around;
}